<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practice.derikpc.workoutanywhere">
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/action_bar_icon"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="Workout Anywhere"
            android:theme="@style/AppTheme"
            android:icon="@drawable/action_bar_icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="profile.UserProfile"
            android:label="Profile"></activity>
        <activity android:name="workouts.Workouts"
            android:label="Workouts"></activity>
        <activity android:name="stream.StreamActivity"
            android:label="Stream"></activity>
        <activity android:name="calendar.CalendarView"
            android:label="Calendar"></activity>
        <activity android:name="blog.BlogActivity"
            android:label="Blog"></activity>
        <activity android:name="blog.BlogPostActivity"
            android:label=""></activity>
        <activity android:name="workouts.WorkoutPostActivity"
            android:label=""></activity>
        <activity android:name="profile.UserProfileWorkoutsList"
            android:label=""></activity>
        <activity android:name="trainer.TrainerDay"
            android:label="Trainer"></activity>
        <activity android:name="calendar.ChooseATrainerFragment"
            android:label="Choose a Trainer"></activity>

    </application>

</manifest>
