<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practice.derikpc.workoutanywhere">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/workoutanywherebyrundlefit"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label=""
            android:theme="@style/AppTheme"
            android:icon="@drawable/workoutanywherebyrundlefit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".UserProfile"></activity>
    <activity android:name="workouts.Workouts"></activity>
    <activity android:name=".LogInScreenFragment"></activity>
    <activity android:name=".WelcomeSignIn"></activity>
    <activity android:name="workouts.SpecificWorkout"></activity>

    </application>

</manifest>
