<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practice.derikpc.workoutanywhere">
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/workoutanywherebyrundlefit"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label=""
            android:theme="@style/AppTheme"
            android:icon="@drawable/workoutanywherebyrundlefit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="profile.UserProfile"></activity>
        <activity android:name="workouts.Workouts"></activity>
        <activity android:name="stream.Stream"></activity>
        <activity android:name="calendar.CalendarView"></activity>
        <activity android:name="blog.BlogActivity"></activity>
        <activity android:name="blog.BlogPostActivity"></activity>
        <activity android:name="workouts.WorkoutPostActivity"></activity>
        <activity android:name="profile.UserProfileWorkoutsList"></activity>
        <activity android:name="trainer.TrainerDay"></activity>
        <activity android:name="calendar.ChooseATrainerFragment"></activity>

    </application>

</manifest>
